.input {
  padding: 3px;
  color: inherit;
  font-size: var(--16);
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background: var(--default-second);
}

.input::placeholder {
  color: inherit;
}

.input::-webkit-calendar-picker-indicator {
  display: none; 
  opacity: 0;
}