$shield-color: var(--divider-divider);
$shadow-color: var(--text-grey-500);
$controls-divider: var(--divider-divider);

.menu-open {
  text-align: center;
  font-size: var(--18);
  font-weight: 500;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.close {
  position: absolute;
  top: 10px;
  left: -30px;
  color: var(--white)
}

.menu-toggle {
  display: none;
}

.shield {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $shield-color;
  display: none;
  z-index: 3;
}

.drawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -100%;
  width: 380px;
  height: 100%;
  z-index: 4;
  background: var(--default-second);
  transition: 0.3s;
  box-shadow: 0 0 50px $shadow-color; /* Параметры тени */
}

.menu-toggle:checked ~ .drawer {
  right: 0;
}

.menu-toggle:checked ~ .shield {
  display: block;
}

.wrapper {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.controls {
  padding: 5px;
  display:  flex;
  border-top: 0.5px solid $controls-divider;
}

.control {
  padding: 15px;
  margin: 5px;
}

.accept {
  color: var(--white);
}

