.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  z-index: 1;
  position: relative;
  background-color: var(--assigned-colors-table-cell-default-bg);
}

.controls {
  display: flex;
  color: var(--text-grey-500);
}

.select {
  outline: none;
  border-color: var(--text-grey-200);
  border-radius: var(--4-radius);
  height: 40px;
  padding: 0 8px;
  font-size: 14px;
  background-color: var(--assigned-colors-table-cell-default-bg);
  color: var(--assigned-colors-table-tabletop-text-default);
}

.btn {
  user-select: none;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  margin: 5px;
  width: 40px;
  height: 40px;
  color: var(--assigned-colors-table-tabletop-text-default);
}

.withHover {
  &:hover {
    background-color: var(--text-grey-200);
  }
}

.btnTitle {
  margin: auto;
}

.chevron {
  height: var(--24-size);
  margin: auto;
}

.disabled {
  color: var(--text-grey-200);
}

.zoomOut {
  font-size: 12px;
}

.selected {
  background-color: var(--text-grey-100);
}

.show {
  min-height: 40px;
  display: flex;
  align-items: center;
  margin-left: 22px;
}

.showTitle {
  margin-right: 12px;
  color: var(--assigned-colors-table-tabletop-text-default);
}