.cell {
  // Временно, пока нет токена на tablebottom
  color: var(--assigned-colors-table-tabletop-text-default);
  background-color: var(--background-paper);
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid var(--divider-divider);
}

.border {
  border-left: 1px solid var(--divider-divider);  
}

.tfoot {
  background-color: var(--assigned-colors-table-tabletop-bg-default);
  z-index: 0;
  bottom: 0;
  position: sticky;
}
