$range-border-color: #32a0ff; //primary-blue-400
$range-color: transparentize($range-border-color, 0.8);

.range {
  background-color: $range-color;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.withBorder {
  border: 2px solid $range-border-color;
}

.copied {
  border: 2px dashed $range-border-color;
}