.wrapper {
  flex-grow: 1;
  margin-top: 10px;
  overflow-y: auto;
  height: 0;
  &::-webkit-scrollbar-track {
    background-color: unset /* Цвет скролла */;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-grey-200); /* Цвет ползунка */;
  }

  &::-webkit-scrollbar {
    width: unset /* Толщина скролла */;
  }
}