.cell {
  user-select: none;
  color: var(--text-grey-900);
  padding: 0;
}

.border {
  border-left: 1px solid var(--divider-divider);
}

.controlled {
  box-shadow: inset 0 0 0 1px var(--primary-blue-700);
}

.row_base_hover {
  &:hover {
    background-color: var(--assigned-colors-table-cell-hover-bg);
  }
}

.row_base_selected {
  background-color: var(--assigned-colors-table-cell-selected-bg);
  &:hover {
    background-color: var(--assigned-colors-table-cell-selected-hover-bg);
  }
}

.body {
  position: relative;
  background-color: var(--assigned-colors-table-cell-default-bg);
  outline: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  height: var(--32-size);
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

.borderBottom {
  border-bottom: 1px solid var(--divider-divider);
}

.warning {
  background-color: var(--assigned-colors-table-cell-orange-bg);
}

.warning_hover {
  &:hover {
    background-color: var(--assigned-colors-table-cell-orange-hover-bg);
  }
}

.warning_selected {
  background-color: var(--assigned-colors-table-cell-orange-hover-bg);
  &:hover {
    background-color: var(--assigned-colors-table-cell-orange-selected-hover-bg);
  }
}

.warning_light {
  background-color: var(--assigned-colors-table-cell-orange-light-bg);
}

.warning_light_hover {
  &:hover {
    background-color: var(--assigned-colors-table-cell-orange-light-hover-bg);
  }
}

.warning_light_selected {
  background-color: var(--assigned-colors-table-cell-orange-light-hover-bg);
  &:hover {
    background-color: var(--assigned-colors-table-cell-orange-light-selected-hover-bg);
  }
}

.error {
  background-color: var(--assigned-colors-table-cell-red-bg);
}

.error_hover {
  &:hover {
    background-color: var(--assigned-colors-table-cell-red-hover-bg);
  }
}

.error_selected {
  background-color: var(--assigned-colors-table-cell-red-hover-bg);
  &:hover {
    background-color: var(--assigned-colors-table-cell-red-selected-hover-bg);
  }
}

.error_light {
  background-color: var(--assigned-colors-table-cell-red-light-bg);
}

.error_light_hover {
  &:hover {
    background-color: var(--assigned-colors-table-cell-red-light-hover-bg);
  }
}

.error_light_selected {
  background-color: var(--assigned-colors-table-cell-red-light-hover-bg);
  &:hover {
    background-color: var(--assigned-colors-table-cell-red-light-selected-hover-bg);
  }
}

.success {
  background-color: var(--assigned-colors-table-cell-green-bg);
}

.success_hover {
  &:hover {
    background-color: var(--assigned-colors-table-cell-green-hover-bg);
  }
}

.success_selected {
  background-color: var(--assigned-colors-table-cell-green-hover-bg);
  &:hover {
    background-color: var(--assigned-colors-table-cell-green-selected-hover-bg);
  }
}

.success_light {
  background-color: var(--assigned-colors-table-cell-green-light-bg);
}

.success_light_hover {
  &:hover {
    background-color: var(--assigned-colors-table-cell-green-light-hover-bg);
  }
}

.success_light_selected {
  background-color: var(--assigned-colors-table-cell-green-light-hover-bg);
  &:hover {
    background-color: var(--assigned-colors-table-cell-green-light-selected-bg);
  }
}