.input {
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
  outline: none;
  font-size: var(--16);
  font-weight: 100;
  &:focus {
    box-shadow: inset 0 0 0 1px var(--primary-blue-700);
  }
}

.disabledCellS {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    content: "";
    display: block;
    width: 100%;
    height: var(--32-size);
  }
}

.disabledCellM {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    content: "";
    display: block;
    width: 100%;
    height: var(--40-size);
  }
}

.disabledCellL {
  position: relative;
  &::after {
    position: absolute;
    top: 0;
    content: "";
    display: block;
    width: 100%;
    height: var(--56-size);
  }
}

.warning {
  background-color: var(--assigned-colors-table-cell-orange-bg);
}

.warning_light {
  background-color: var(--assigned-colors-table-cell-orange-light-bg);
}

.error {
  background-color: var(--assigned-colors-table-cell-red-bg);
}

.error_light {
  background-color: var(--assigned-colors-table-cell-red-light-bg);
}

.success {
  background-color: var(--assigned-colors-table-cell-green-bg);
}

.success_light {
  background-color: var(--assigned-colors-table-cell-green-light-bg);
}

.disabled {
  background-color: var(--background-default);
}

.number {
  text-align: right;
}
